<div class="card">
  <div class="second-info">
    <div class="info">
      <div class="imgInfo">
        <img src="assets/ico/sm-white.png" alt="">
      </div>
      <p>{{enterpriseCard.phone}}</p>
    </div>
    <div class="info">
      <div class="imgInfo">
        <img src="assets/ico/em-white.png" alt="">
      </div>
      <p>{{enterpriseCard.email}}</p>
    </div>
    <div class="info">
      <div class="imgInfo">
        <img src="assets/ico/am-white.png" alt="">
      </div>
      <p>{{enterpriseCard.address}}</p>
    </div>
  </div>
  <div class="primary-info">
    <span>RUC: {{enterpriseCard.ruc}}</span>
    <h2>{{enterpriseCard.name}}</h2>
  </div>
</div>

