<div class="container">
  <div class="navbar">
    <a href="/Home"><img src="./assets/ico/primary_logo.png" class="logo" alt=""></a>
    <nav *ngIf="visibleOn()">
      <ul>
        <li><a href="/SignUp">Sign Up</a></li>
        <li><a href="/LogIn">Log In</a></li>
      </ul>
    </nav>
    <nav *ngIf="visibleOff()">
      <ul>
        <li><a href="/Enterprise">{{enterprise}}</a></li>
        <li><a href="/Home" (click)="LogOut()">Log Out</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="container-body">
  <router-outlet></router-outlet>
</div>
